body {
    padding-top: 55px;
    margin: 0 auto;
}

.banner-logo {
    position: relative;
    height: 4ex;
    top:-1ex
}

/* Profile */

.profile-banner {
    padding-top: 2ex;
    border-bottom: solid thin darkgray;
    margin-bottom: 3ex;
}

.profile-banner img {
    border-radius: 1ex;
    box-shadow: 0 0 0.25em black;
    height: 6ex;
    margin: 0 3%;
}

.profile-banner h1 {
    vertical-align: bottom;
}

.submission-stats td:first-child {
    font-weight: bold;
}

/* Question Related */

.inactive-question {
    width: 50%;
    max-width: 25em;
    float: left;
}

.take-me-button {
    float: left;
    margin-left: 15px; /* Bootstraps padding on row */
    margin-top: 2ex;
}

.sponsor-flog {
    text-align: right;
    float: right;
    margin-right: 15px;

    color: gray;
    font-style: oblique;
}

.sponsor-flog .text {
    margin-right: 4.5em;
}

.sponsor-flog img {
    margin: 1ex 0;
    height: 15ex;
    width: auto;
}

button.btn[type='submit'] {
    max-width: 20em;
    margin: 0 auto;
    width: 50%;
}

/*
Login Page
*/

.form-signin {
    max-width: 20em;
    margin: 1ex auto;
}

.form-signin .form-header {
    margin-bottom: 2ex;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 3ex;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table.source-code {
    font-family: monospace;
}

.source-code .keyword {
    color: blue;
}

.source-code .string {
    color: magenta;
}

.source-code .comment {
    color: limegreen;
}

.source-code .digit {
    color: blueviolet;
}

table.source-code tr>td {
    border-top: 0;
    padding: 0 1em;
}

table.source-code td:first-child {
    width: 2em;
    background-color: lightgray;
    font-weight: bold;
    text-align: center;
}

table.source-code tr:first-child td {
    padding-top: 1ex;
}

table.source-code tr:last-child td {
    padding-bottom: 1ex;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 5ex;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  padding-top: 1ex;
  height: 5ex;
  background-color: #f5f5f5;
}