body {
    padding-top: 50px; /*border*/
}

.container-parent {
    position: absolute;
    padding-left: 2ex;
    padding-right: 2ex;

    top: 0px;
    bottom: 0px;
}

.banner-logo {
    position: relative;
    height: 4ex;
    top:-1ex
}

.page-content {
    display: none;
}

.page-content.active {
    display: block;
}

.take-me-button {
    float: left;
}

.sponsor-flog {
    text-align: right;
    float: right;
}

.sponsor-flog .text {
    /* TODO: Fix this */
    margin-right: 4.5em;
}

.sponsor-flog img {
    margin: 1ex 0;
    height: 15ex;
    width: auto;
}

.form-signin {
    max-width: 20em;
    margin: 0 auto;
}

.form-signin .form-header {
    margin-bottom: 2ex;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 3ex;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
    width: 50%;
    margin: 0 auto;
}