body {
    padding-top: 55px;
    margin: 0 auto;
}

.banner-logo {
    position: relative;
    height: 4ex;
    top:-1ex
}

/* Profile */

.profile-banner {
    padding-top: 2ex;
    border-bottom: solid thin darkgray;
    margin-bottom: 3ex;
}

.profile-banner img {
    border-radius: 1ex;
    box-shadow: 0 0 0.25em black;
    height: 6ex;
    margin: 0 3%;
}

.profile-banner h1 {
    vertical-align: bottom;
}

.submission-stats td:first-child {
    font-weight: bold;
}

/* Question Related */

.inactive-question {
    width: 50%;
    max-width: 25em;
    float: left;
}

.take-me-button {
    float: left;
    margin-left: 15px; /* Bootstraps padding on row */
}

.sponsor-flog {
    text-align: right;
    float: right;
    margin-right: 15px;

    color: gray;
    font-style: oblique;
}

.sponsor-flog .text {
    margin-right: 4.5em;
}

.sponsor-flog img {
    margin: 1ex 0;
    height: 15ex;
    width: auto;
}

/*
Login Page
*/

.form-signin {
    max-width: 20em;
    margin: 0 auto;
}

.form-signin .form-header {
    margin-bottom: 2ex;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 3ex;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button {
    width: 50%;
    margin: 0 auto;
}