{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="page-header">
            <h1>Golf Questions</h1>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Questions from</strong> {{ startDate }} <strong>to</strong> {{ endDate }}</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Sponsor</th>
                            <th>Winner</th>
                            <th><!--View--></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                            <tr>
                                <td>{{ question.title }}</td>
                                <td>{{ question.startDate|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ question.endDate|date:"SHORT_DATE_FORMAT" }}</td>
                                <td>{{ question.sponsor.name }}</td>
                                <td>{{ question.winner.username|default:"None" }}</td>
                                <td>
                                    <a href="{% url 'question' question.pk %}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div>
                    Page numbers...
                </div>
            </div>
        </div>


    </div>
{% endblock %}