{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <div id="faq-what-golf" class="page-content">
                <div class="page-header"><h2>What is code golf?</h2></div>
                <p>
                    Code Golf is a new type of competition that ProgSoc is releasing into the wild where
                    you challenge yourself and attempt to solve industry linked real programming
                    and computer science problems, and pick up some prizes along the way.

                </p>
                <p>
                    Each fortnight there will be a new industry focused computer science / engineering question for
                    you to answer. The person who provides the best solution will win that week's prize, and puts you
                    in the running for the major prize at the end of the year.
                </p>
                <p>
                    You only have to complete the questions that you want to complete, and there is no punishment for
                    not finishing a question so its a low stress, low maintenance way to challenge yourself and maybe
                    learn new things about computers and software along the way.
                </p>
            </div>
            <div id="faq-what-progsoc" class="page-content">
                <div class="page-header"><h2>Who is UTS ProgSoc?</h2></div>
                <p>
                    UTS ProgSoc is the UTS Progammers Society, and you can find our page <a href="http://progsoc.org">here.</a>
                </p>
                <p>
                    We're a bunch of students and alumni who love to keep ourselves busy throughout the year by
                    having as many projects, contests, gatherings and drink ups as we can, and have been doing so for
                    over 25 years now.
                </p>
            </div>
            <div id="faq-why-we-golf" class="page-content">
                <div class="page-header"><h2>Why do we do code golf?</h2></div>
                <p>
                    We're hosting code golf as a way to get more coupling between the student body and the industry.
                    It's no secret that just doing your degree without ever writing a line of code outside of your
                    assignments won't teach you very much, and we want to help fill that void.
                </p>
                <p>
                    <strong>Plus, it's fun!</strong>
                    We love setting challenges to be solved by our members and we love even more giving them prizes
                    and rewards for solving them.
                </p>
            </div>
            <div id="faq-why-me-golf" class="page-content">
                <div class="page-header"><h2>What's in it for me?</h2></div>
                <p>
                    There is <em>ALOT</em> in it for the students. Not only do you better yourself as a developer,
                    you also get involved with software companies before you've even left uni.
                </p>
                <p>
                    Imagine leaving university, and as your potential first employer asks what makes you different,
                    you can show them your profile, packed with badges and submissions to challenging and real
                    problems.
                </p>
                <p>
                    One more thing... <strong>The prizes!</strong> Each week has a new prize gratiously donated by a
                    sponsor. And with each question you answer your name goes in the draw for the prize at the end of
                    the year, the more questions you answer the better your chances are.
                </p>
            </div>
            <div id="faq-prizes" class="page-content">
                <div class="page-header"><h2>Where do the prizes come from?</h2></div>
                <p>
                    The prizes are gratiously donated by our code golf sponsors, along with many of the questions.
                </p>
                <div id="sponsor-list">

                </div>
            </div>

            <div id="faq-sponsor" class="page-content">
                <div class="page-header"><h2>I'm a company that would love to sponsor a question. How do I do that?</h2></div>
                <p>
                    That's great! We love to add more names to our list of sponsors. Flick us an email at
                    sponsor@golf.progsoc.org and we'll get into contact with you shortly.
                </p>
            </div>

            <div id="faq-more" class="page-content">
                <div class="page-header"><h2 id="faq-more">This is pretty cool, is there other places like this?</h2></div>
                <h3>Challenge websites</h3>
                <ul>
                    <li>
                        <h4><a href="http://projecteular.org">Project Eular</a></h4>
                        <p>Project Eular has seemingly endless challenges to solve, with a new one added every fortnight</p>
                    </li>
                </ul>

                <h3>Programming Competitions</h3>
                <ul>
                    <li>
                        <h4>UTS ProgComp</h4>
                        <p>
                            Every year we host a programming contest thats choccas with awesome stuff. Last year (2014)
                            we had a record $6000 prize pool from WiseTech Global as well as pizza and an arvo at the pub
                            afterwards
                        </p>
                    </li>
                    <li>
                        <h4>Toms Comp...</h4>
                        <p>That comp that Tom runs every year</p>
                    </li>
                </ul>

                <h3>Not Quite Programming Competitions</h3>
                <ul>
                    <li><h4>Hackagong</h4></li>
                    <li><h4>GovHack</h4></li>
                    <li><h4>Code Jam</h4></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}