{% extends 'base.html' %}

{% block body_block %}

<div class="jumbotron">
    <div class="container">
        <h1>UTS ProgSoc's Code Golf</h1>
        <p>
            Challenge yourself and attempt to solve industry linked real programming and computer science problems,
            and pick up some prizes along the way.
        </p>
    </div>
</div>
<div class="container">
    {% for question in questions %}
        <div class="row">
            <div class="question-box">
                <h2>{{ question.title }}</h2>

                <p>{{ question.short_description }}</p>
                <div class="question-meta">
                    <div class="take-me-button">
                        <a class="btn btn-lg btn-success" href="{% url 'question' question.pk %}">
                            Take me to it!
                        </a>
                    </div>

                    {% if not question.isActive and question.winner %}
                        <a class="btn btn-lg btn-primary" href="{% url 'view_submission' question.winner.pk %}">
                            <span class="glyphicon glyphicon-tower"></span>
                            View the winning solution
                        </a>
                    {% endif %}

                    <div class="sponsor-flog">
                        <div class="text">Sponsored by</div>
                        <a href="{{ question.sponsor.website }}">
                            <img src="{{ question.sponsor.logo.url }}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <div class="row">
            <div class="alert alert-dismissable">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                Looks like you've turned up before any questions were made.
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}