{% extends 'base.html' %}

{%  block body_block %}
    <form class="class-signin" role="form" method="POST" target="{% url 'login' %}" >
        {% csrf_token %}
        <h2>Please sign in</h2>
        <input placeholder="Username" type="text"     name="username" class="form-control" required autofocus>
        <input placeholder="Password" type="password" name="password" class="form-control" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Go</button>
    </form>
{% endblock %}