{% extends 'base.html' %}

{%  block body_block %}
    <div class="container">
        <form class="form-signin" role="form" method="POST" target="{% url 'login' %}" >
            {% csrf_token %}

            <h2 class="form-header">Please sign in</h2>


            <label for="username" class="sr-only">Username</label>
            <input class="form-control" placeholder="Username" name="username" id="txtUsername" type="text" required autofocus>

            <label for="password" class="sr-only">Password</label>
            <input class="form-control" placeholder="Password" name="password" id="txtPassword" type="password" required>

            {% if hasTriedBefore %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Invalid username and/or password <br />
                </div>

            {% endif %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {% if hasTriedBefore %}
                    Try Again
                {% else %}
                    Go
                {% endif %}
            </button>
        </form>
    </div>
{% endblock %}