{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="page-header">
            <h1>Submission For <i>'{{ question.title }}'</i></h1>
        </div>
        <div class="row">
            <p>
                Please remember to make sure you have answered the question <b>as best you can</b>.
                Running solutions unnecessarily will slow down our system and mean we will not be able to run as many
                solutions to the same level of fidelity.
            </p>
            <p>
                You may make multiple submissions, however other contestant's first submissions will take priority.
            </p>
        </div>
        <div class="row">
            <form method="post" action="{% url 'make_submission' question.pk %}">
                {{ form }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Make Submission
                </button>
            </form>
        </div>
    </div>
{% endblock %}