{% extends 'base.html' %}

{% block body_block %}

    <div class="container">

        <div class="page-header">
            <h1>Uh oh. No question was found</h1>
        </div>

        <div class="row">
            <p>
                If we could, we'd be showing you challenging questions, epic prizes and
                amazing sponsors in this very spot!
            </p>
            <p>
                However, it looks like there was no question to be found. Feel free to
                check out <a href="{% url 'questions' %}">our other questions</a> instead.
            </p>
            <p>
                While you're at it, why don't you have a look at <a href="sponsors">our sponsors</a>
                aswell.
            </p>
        </div>

    </div>

{% endblock %}