{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
        <div class="page-header">
            <h1>{{ question.title }}</h1>
            <h4><small><strong>Active from </strong>{{ question.startDate }} <strong>to</strong> {{ question.endDate }}</small></h4>
        </div>

        <div class="row">
            <div style="padding: 0 15px">
                {{ question.full_description|safe }}
            </div>
        </div>

        <div class="row">
                {% if question.isActive %}
                    <div class="take-me-button">
                        <a class="btn btn-lg btn-primary" href="{% url 'make_submission' question.pk %}">
                            Make a submission
                        </a>
                    </div>
                {% elif question.winner %}
                    <div class="take-me-button">
                        <a class="btn btn-lg btn-success" href="{% url 'view_submission' question.winner.pk %}">
                            View the winning submission by <b>{{ question.winner.username }}</b>
                        </a>
                    </div>
                {% endif %}

                <div class="sponsor-flog">
                    <div class="text">Sponsored by</div>
                    <a href="{{ question.sponsor.website }}">
                        <img src="{{ question.sponsor.logo.url }}" />
                    </a>
                </div>
        </div>

        <div class="row">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
    </div>

{% endblock %}